
#show_sketch{
    width: 300px;
    font-size: 25px;
    background-color: rgb(212, 255, 241);
}

p{
    padding: top;
    font-size: 20px;
    font-weight: bold;
}

canvas{
    border: 5px solid beige;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(255, 218, 209);}
    to{box-shadow: 1px 1px 38px rgb(209, 255, 250);}
}

#score{
    font-size: 35px;
    margin-left: 20px;
}

#time{
    font-size: 35px;
    margin-right: 20px;
    float: right;
}